<!-- <!DOCTYPE html>
<html lang="en"> -->
<!-- Same Company Radio Button (Route 9)-->
<!-- <body>
	<form action="/route-nine" method="POST">
	    <p>Are you looking for new opportunities at the same company?:</p>
	      <input type="radio" name="yes_no" value="Yes ">Yes</input> <br>
	      <input type="radio" name="yes_no" value="No">No</input> <br> <br>
	      <input type="submit" value="Submit">
	</form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<!-- Are you looking to stay at your current role? (Route 9)-->
<body>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="../static/assets/img/favicons/site.webmanifest">
        <link rel="mask-icon" href="../static/assets/img/favicons/safari-pinned-tab.svg" color="#f23838">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- Vendor Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700%7CRoboto:300,400,700" rel="stylesheet">
        <link href="../static/assets/vendor/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="../static/assets/vendor/prismjs/prism.css" rel="stylesheet">
        <link href="../static/assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
        <!-- Theme Stylesheets -->
        <link href="../static/assets/css/theme.css" rel="stylesheet">
    </head>
    <body class="pt-5 pt-lg-6">
        <!-- Preloader -->
        <div class="preloader">
            <div class="spinner">
                <div class="circles"></div>
            </div>
        </div>
        <!-- End of Preloader -->
        <!-- Header -->
        <header class="spyre-navbar navbar navbar-expand-lg navbar-dark bg-secondary fixed-top align-items-center">
            <div class="container-fluid">
                <div class="menu-toggle">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="cross">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of Header -->
        <!-- Main Content -->
        <main class="main minh-100vh">
            <section class="py-0">
                <div class="jumbotron jumbotron-fluid bg-blue-light py-7 px-lg-4 m-0">
                    <div class="container-fluid">
                        <h1 class="display-4">Are you looking for new opportunities at the same company?: </h1>
                </div>
                </div> 
            </section>
                                <form action="/route-nine" method="POST">
                                    <input type="radio" name="yes_no" value="Yes ">Yes</input> <br>
                                    <input type="radio" name="yes_no" value="No">No</input> <br> <br>
                                    <input type="submit" value="Submit">
                                </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- End of Main Content -->
        <!-- Core Javascripts -->
        <script src="../static/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="../static/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="../static/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Vendor Javascripts -->
        <script src="../static/assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>
        <script src="../static/assets/vendor/prismjs/prism.min.js"></script>
        <script src="../static/assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
        <!-- Theme Javascripts -->
        <script src="../static/assets/js/theme.js"></script>
    </body>
</html>


